.main{
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: auto;
  /* border:1px solid black; */
  margin-top: 10%;
  padding-left: 20%;
  padding-right:30%;
  justify-content: flex-end;
}

.container{
  /* border: 1px solid red; */
  flex: 1 1 90%;
  height: 100px;
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn0{
  margin-right: 35%;
}
.btn1{
  background-color: rgb(31, 121, 255);
  color:white;
  margin-right: 5%;
}
